@use '../config' as *;
@use '../components/mixins' as *;

.form-container{
    @include absoluteCenter;
    width: auto;
    height: auto;
    border-radius: 0.8rem;
    border: 1px solid rgba(255,255,255,0.4);
    padding: 1rem;
    padding-top: 4rem;
    display: flex;
    background-color: rgba($white, 0.3);

    &__left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media screen and(max-width: 1000px){
            display: none;
        }
    }

    &__right{
        width: 100%;

        form{
            .backup-links{
                display: flex;
                margin-top: 0;
                justify-content: space-between;
            }
        }

        @media screen and(max-width: 1000px){
            width: 100%;
            padding: 0;
        }
    }

    @media screen and(max-width: 550px){
        width: 90%;
    }
}

.input-box{
    width: 100%;

    label{
        margin-left: 0.5rem;
    }
    
    input{
        border-radius: 0;
        background: transparent;
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid $white;

        &:focus{
            border-image: linear-gradient(to right, $medium-dark-blue, $medium-light-blue) 1;
            border-bottom: 1px solid $white;
            box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
        }
    }

    &__icon{
        margin-right: 0.5rem;
    }
}

.backup-links{
    padding: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

button{
    text-decoration: none;
    &:hover{
        text-decoration:underline;
    }
}

.login-header{
    position: absolute;
    top: -6%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1{
        font-size: 2.5rem;
        margin-left: 1rem;
    }
}

.otherLinksToLogin {
    display: flex;
    justify-content: space-between;

    div{
        width: 6rem;
        height: 2.5rem;
        background: $medium-dark-blue;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
        text-decoration: none;
    }

    @media screen and(max-width: 750px){
        div {
            width: 3rem;
            height: 3rem;
        }
    }
}